/* src/styles/Character.css */
.character {
  position: absolute; /* This allows the character to move within the map */
  width: 50px; /* Set width of the character */
  height: 50px; /* Set height of the character */
  z-index: 10; /* Make sure the character is on top of the background */
  top: 0;
  left: 0;
  transition: top 0.2s, left 0.2s; /* Smooth movement */
}

.character img {
  width: 100%;
  height: 100%;
}
