* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  overflow: hidden;
}

.App {
  width: 100vw;
  height: 100vh;
}

.map {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: url('./assets/images/BackG.png') no-repeat center center;
  background-size: cover;
  overflow: hidden;
}

.character {
  position: absolute;
  width: 200px; /* Increased size */
  height: 200px; /* Increased size */
  z-index: 10;
  top: 0;
  left: 0;
  transition: top 0.2s, left 0.2s; /* Smooth movement */
}

.character img {
  width: 100%;
  height: 100%;
  object-fit: contain; /* Ensures the image scales without distortion */
  background-color: transparent; /* Ensure there's no background color */
}

/* Sections */
.section {
  position: absolute;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  text-align: center;
  width: 100px;
  height: 100px;
}

.section h2 {
  font-size: 16px;
  color: #333;
}

/* Responsive scaling */
@media (max-width: 600px) {
  .section h2 {
    font-size: 14px;
  }

  .map {
    background-size: contain;
  }

  .character {
    width: 40px;
    height: 40px;
  }

  .section {
    width: 80px;
    height: 80px;
  }
}


.door-label {
  position: absolute;
  font-size: 1.2rem;
  padding: 5px 10px;
  background-color: rgba(255, 255, 255, 0.7); /* Semi-transparent background */
  border-radius: 10px;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
}

.experience-label {
  /* Extra styling for the experience door if needed */
}

.projects-label {
  /* Extra styling for the projects door if needed */
}

.education-label {
  /* Extra styling for the education door if needed */
}

.volunteer-label {
  /* Extra styling for the volunteer door if needed */
}

.hobbies-label {
  /* Extra styling for the hobbies door if needed */
}
